@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?n8ksgn');
  src:  url('../fonts/icomoon.eot?n8ksgn#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?n8ksgn') format('truetype'),
    url('../fonts/icomoon.woff?n8ksgn') format('woff'),
    url('../fonts/icomoon.svg?n8ksgn#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
  content: "\e900";
}
.icon-envelope:before {
  content: "\e901";
}
.icon-marker:before {
  content: "\e902";
}
